/* WHOLE BODY STYLING STARTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* WHOLE BODY STYLING ENDS */

/* NAVIGATION SECTION STARTS */
nav{
  position: absolute;
  width: 100%;
  height: 45px;
  background: #0747A6;
}

.navbtn{
  position: relative;
  top: 12px;
  color: #0747A6;
  font-size: 16px;
  text-decoration: none;
  padding: 7px;
  margin: 4px;
  background: #ffffff;
  border-radius: 5px;
}

/* .dropdown .navbtn a:hover{
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 7px;
  margin: 4px;
  background: #0747A6;
  border-radius: 5px;
} */

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #0747A6;
  color: #ddd;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
  color: #0747A6;
  height: 400px;
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* NAVIGATION SECTION ENDS */

/* MIDDLE CONTAINER SECTION STARTS */
.container-section{
    background: #e6edf6;
    height: 820px;
    width: 100%;
}
/* MIDDLE CONTAINER SECTION ENDS */

/* BOX CONTAINER SECTION STARTS */
.boxcontainer{
	border:  double #0747A6;
	position: absolute;
	height: 100%;
	width: 85%;
	background: #cddaed;
	margin: 100px;
	border-radius: 20px;
}

.headingbox{
	width: 100%;
	height: 12%;
	border-radius: 20px 20px 0 0;
	background: #0747A6;
}

h2{
    font-size: 50px;
    padding: 15px;
    color: #ffffff;
}
/* BOX CONTAINER SECTIION ENDS */

/* SEARCH BOX STARTS */
.searchbox{
	float: right;
	padding: 10px;
	margin: 5px;
	width: 300px;
}

input[type=search]{
    width: 90%;
    outline: none;
    border: 2px solid ;
    border-radius: 4px;
    margin-top: 20px;
    outline: none;
    padding: 8px;
    margin-left: 10px;
}

input[type=search]:focus{
    border-color: #0065FF;
    box-shadow: 0 0 8px 0 #0065FF;
}
/* SEARCH BOX ENDS */

/* TABLE STARTS */

table{
	width: 100%;
	height: auto;
}

table, td, th{
	border: 2px solid #0747A6;
	text-align: center;
	padding: 10px;
	border-collapse: collapse;
}
/* TABLE ENDS */

/* PREVIOUS BUTTON STARTS */
.buttonsp a{
    text-align: center;
	text-decoration: none;
    font-family: initial;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    color: #ffffff;
}

.buttonsp a:hover{
	width: 90px;
    height: 38px;
    color: #0747A6;
    background: #ffffff;
    border: 1px solid #0747A6;
    border-radius: 32px;
    transform: ease 0.3 sec;
}

.buttonsp{
	position: absolute;
    width: 90px;
    height: 38px;
	right: 160px;
    top: 90%;
    background: #0747A6;
    border-radius: 32px;
    cursor: pointer;
}
/* PREVIOUS BUTTON ENDS */

/* NEXT BUTTON STARTS */
.buttonsn{
	position: absolute;
    width: 90px;
    height: 38px;
	right: 50px;
    top: 90%;
    background: #0747A6;
    border-radius: 32px;
    cursor: pointer;
}

.buttonsn a{
    text-decoration: none;
    font-family: initial;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    color: #ffffff;
}


.buttonsn a:hover{
    text-align: center;
    width: 90px;
    height: 38px;
    color: #0747A6;
    background: #ffffff;
    border: 1px solid #0747A6;
    border-radius: 32px;
    transform: ease 0.3 sec;
}

/* NEXT BUTTON ENDS */

/* FOOTER SECTION STARTS */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
	transition: all 0.3s ease;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
    background-color: transparent;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/* FOOTER SECTION ENDS */



@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* Footer section end */